.array-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 10vh;
}
.array-bar-graph {
    display: inline-block;
    margin: 0 1px;
}
.input-range__label--max,
.input-range__label--min,
.input-range__label-container {
    display: none;
}
.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item {
    margin-right: 2vw;
}
.navbar-no-y-padding {
    padding-top: 0.5% !important;
    padding-bottom: 0% !important;
}
