.array-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 10%;
}
.array-bar-graph {
    display: inline-block;
    margin: 0 1px;
}
.input-range__label--max {
    display: none;
}
.input-range__label--min {
    display: none;
}
.input-range__label-container {
    display: none;
}
.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
